Scratch

	      <img src="images/Emsi-Logo-2016.png" alt="Logo Image">

// #5b5aec
header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 2em;
  $navigation-background: white;
  $navigation-color: #074d77;
  $navigation-color-hover: black;
  $navigation-height: 6em;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 17em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  font-family: 'sailec';

  .navigation-wrapper {
    @include clearfix;
    // @include outer-container($refills-max-width);
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: 3.5em;
      padding: 0.8em 0;
      margin-top: 20px;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 6em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: center;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
    font-size: 11px;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 3.5em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    text-transform: uppercase;
    padding-top: 70px;


    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }


// Sub menus

  li.more.nav-link {
    padding-right: 3.5em;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu.fly-out-right {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @include media($horizontal-bar-mode) {
        left: -$navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

//   width: 60px;
//   height: 45px;
//   position: relative;
//   margin: 50px auto;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
//   -webkit-transition: .5s ease-in-out;
//   -moz-transition: .5s ease-in-out;
//   -o-transition: .5s ease-in-out;
//   transition: .5s ease-in-out;
//   cursor: pointer;


// .navigation-menu-button span {
//   display: block;
//   position: absolute;
//   height: 9px;
//   width: 100%;
//   background: black;
//   border-radius: 9px;
//   opacity: 1;
//   left: 0;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
//   -webkit-transition: .25s ease-in-out;
//   -moz-transition: .25s ease-in-out;
//   -o-transition: .25s ease-in-out;
//   transition: .25s ease-in-out;
// }

//   /* Icon 3 */

//   .navigation-menu-button span:nth-child(1) {
//     top: 0px;
//   }

//   .navigation-menu-button span:nth-child(2),  .navigation-menu-button span:nth-child(3) {
//     top: 18px;
//   }

//   .navigation-menu-button span:nth-child(4) {
//     top: 36px;
//   }

//   .navigation-menu-button.open span:nth-child(1) {
//     top: 18px;
//     width: 0%;
//     left: 50%;
//   }

//   .navigation-menu-button span:nth-child(2) {
//     -webkit-transform: rotate(45deg);
//     -moz-transform: rotate(45deg);
//     -o-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }

//   .navigation-menu-button.open span:nth-child(3) {
//     -webkit-transform: rotate(-45deg);
//     -moz-transform: rotate(-45deg);
//     -o-transform: rotate(-45deg);
//     transform: rotate(-45deg);
//   }

//   .navigation-menu-button.open span:nth-child(4) {
//     top: 18px;
//     width: 0%;
//     left: 50%;
//   }
